.jumbotron{
	padding-top:6rem;
	background-color: #FFE4C4;
}
#Projecs{
	padding-top: 5rem;
	background-color: #FFE4C4;
}
#contac{

}
section {
	padding-top: 5rem;
}
#keahlian{
	background-color: #6e7783;
	
	
}
